{% extends 'base.html' %}


{% block content %}
  <h1> This closet belongs to: {{ closet.name }} </h1>
  <form method='POST' action="{% url 'delete_closet' closet.id %}">
    {% csrf_token %} 
    <button type='submit' >Delete {{ closet.name }}</button>
  </form>

  <a href="{% url 'closets' %}"> Back </a>
  <hr>
  <h1>Clothing items</h1>
    
    {% for clothes in closet.clothes.all %}

      <div>
        <a href ="{% url 'clothes_detail' clothes_id=clothes.id closet_id=closet.id %}"> {{ clothes.clothing_name}} </a>
      </div>
 
    {% endfor %}

    <hr>
    <a href="{% url 'new_clothes' closet_id=closet.id %}"> Created new </a>
{% endblock %}  
