{% extends 'base.html' %}


{% block content %}
  <h1>  Clothing item : {{ clothes.clothing_name }}</h1>
  <a href="{% url 'edit_clothes' closet_id=closet.id clothes_id=clothes.id %}"> Edit {{ clothes.clothing_name }}</a>
  <hr>
  <form method='POST' action="{% url 'delete_clothes' closet_id=closet.id clothes_id=clothes.id %}">
    {% csrf_token %} 
    <div>
      <h1> Description: </h1>
      <p>{{ clothes.description }}</p>
      <p>Created on: {{ clothes.created_at }}</p>
    </div>
    <hr>
    <button type='submit'>Delete {{ clothes.clothing_name }}</button>
  </form>
  <a href="{% url 'closets' %}"> Back </a>
  <hr>
  {% endblock %}  
